.data div:last-child {
    position: relative;
    animation-name: fadeInFromRight;
    animation-duration: 1s;
}

.data div:first-child {
    position: relative;
    animation-name: fadeInFromLeft;
    animation-duration: 1s;
}

.battleHistory {
    position: relative;
    animation-name: fadeInFromBottom;
    animation-duration: 1s;
}

.pokeCard {
    border-radius: 10px;
    box-shadow: -1px 1px 5px 5px rgba(161, 199, 212, 0.582);
    margin: 10px;
    border: 1px solid rgb(156, 215, 235);
}

.pokeCard:hover {
    background-color: rgba(145, 204, 223, 0.788);
    color: white;
    border: 1px solid rgb(151, 218, 240);
    box-shadow: 0 0 10px 10px rgba(132, 184, 201, 0.678);
}


